{% extends "base.html" %}
{% load static %}
{% block title %}Juna Creative Studio | Branding &amp; Web Design{% endblock title %}
{% block description %}Juna is a creative team for conscious brands, creating visual identities and messaging strategies that move audiences.{% endblock description %}
{% block og_title %}Juna Creative Studio | Branding &amp; Web Design{% endblock og_title %}
{% block og_description %}Branding, websites, and creative campaigns for conscious brands.{% endblock og_description %}
{% block og_image %}{{ site_url }}{% static 'images/social/open-graph/home.png' %}{% endblock og_image %}
{% block og_image_secure_url %}{{ site_url }}{% static 'images/social/open-graph/home.png' %}{% endblock og_image_secure_url %}
{% block twitter_title %}Juna Creative Studio | Branding &amp; Web Design{% endblock twitter_title %}
{% block twitter_description %}Branding, websites, and creative campaigns for conscious brands.{% endblock twitter_description %}
{% block extra_head %}
    <script type="application/ld+json" nonce="{{ csp_nonce }}">
        {
            "@context": "https://schema.org",
            "@graph": [
                {
                    "@type": "WebSite",
                    "@id": "{{ site_url|escapejs }}/#website",
                    "url": "{{ site_url|escapejs }}/",
                    "name": "Juna",
                    "alternateName": "Juna Creative Studio",
                    "publisher": {
                        "@id": "{{ site_url|escapejs }}/#organization"
                    }
                },
                {
                    "@type": "Organization",
                    "@id": "{{ site_url|escapejs }}/#organization",
                    "name": "Juna",
                    "alternateName": "Juna Creative Studio",
                    "url": "{{ site_url|escapejs }}/",
                    "logo": {
                        "@type": "ImageObject",
                        "url": "{{ site_url|escapejs }}{% static 'images/juna_logo.png' %}",
                        "width": 890,
                        "height": 702
                    },
                    "description": "A creative team for conscious brands, creating visual identities and messaging strategies that move audiences."
                }
            ]
        }
    </script>
{% endblock extra_head %}
{% block content %}
    {# Adjust this responsive gap scale to control spacing between all homepage sections. #}
    <div
        class="flex flex-col gap-16 sm:gap-20 lg:gap-24 xl:gap-32"
        data-home-sections
    >
        {% include "website/partials/sections/overview.html" %}
        {% include "website/partials/sections/works.html" %}
        {% include "website/partials/sections/about.html" %}
        {% include "website/partials/sections/services.html" %}
        {% include "website/partials/sections/contact.html" %}
    </div>
{% endblock content %}
