{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <title>{% block title %}Client Site{% endblock %}</title>
        <meta
            name="description"
            content="{% block description %}{% endblock %}"
        />

        <link rel="stylesheet" href="{% static 'css/app.css' %}" />
        <script src="{% static 'vendor/htmx.min.js' %}" defer></script>
    </head>
    <body>
        {% include "website/partials/navbar.html" %}

        <main>{% block content %}{% endblock %}</main>

        {% include "website/partials/footer.html" %}
    </body>
</html>
